<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Comedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card>
    <img src="assets/imgu/6.jpg" />
    <ion-card-header>
      <ion-card-title>Comedor Universitario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Bienvenido estudiante upecista, por favor constesta el siguiente formulario para
      realizar la compra.
    </ion-card-content>
  </ion-card>


  <ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center;">Datos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="documento" name="documento" label="Numero de documento" labelPlacement="stacked" [clearInput]="true">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="nombre" name="nombre" label="Nombre" labelPlacement="stacked" [clearInput]="true">
    </ion-input>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="tipo_cliente" name="tipo_cliente" aria-label="Fruit" interface="popover" placeholder="Seleccione rol">
        <ion-select-option value="Estudiante">Estudiante</ion-select-option>
        <ion-select-option value="Docente">Docente</ion-select-option>
        <ion-select-option value="Administrativo">Administrativo</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="programa" name="programa" aria-label="Fruit" interface="popover" placeholder="Eliga su carrera">
        <ion-select-option value="sistemas">Sistemas</ion-select-option>
        <ion-select-option value="contaduria">Contaduria</ion-select-option>
        <ion-select-option value="administracion">Administracion</ion-select-option>
        <ion-select-option value="ambiental">Ambiental</ion-select-option>
        <ion-select-option value="agroindustrial">Agroindustrial</ion-select-option>
        <ion-select-option value="economia">Aconomia</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="genero" name="genero" aria-label="Fruit" interface="popover" placeholder="Eliga su genero">
        <ion-select-option value="masculino">Masculino </ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
        <ion-select-option value="indefinido">indefinido</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <br>
  
  <ion-item>
    <ion-label position="stacked">Fecha de reserva</ion-label>
    <ion-input [(ngModel)]="fecha" name="fecha" type="date" required></ion-input>
  </ion-item>

  <br>

  <ion-header>
    <ion-toolbar>
      <ion-title style="text-align: center;">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <!-- menu -->
  <ion-accordion-group>

    <!-- mostrar la seccion de desayunos -->
    <ion-accordion value="four">
      <ion-item slot="header" color="light">
        <ion-label>Desayunos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item id="item-accordion" *ngFor="let platoDesayuno of platosDesayuno">
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="../../assets/imgu/2.jpg" />
                </ion-thumbnail>
                <ion-label>{{platoDesayuno.nombre}}</ion-label>
                <ion-label>${{platoDesayuno.precio}}</ion-label>
                <div class="textoscent">

                  <ion-radio-group [(ngModel)]="plato_id" name="plato_id">
                    <ion-radio value="{{platoDesayuno.id}}"></ion-radio><br />
                  </ion-radio-group>

                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>    
    </ion-accordion>

    <!-- mostrar la seccion de almuerzos -->
    <ion-accordion value="five">
      <ion-item slot="header" color="light">
        <ion-label>Almuerzos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let platoAlmuerzo of platosAlmuerzo">
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="../../assets/imgu/2.jpg" />
                </ion-thumbnail>
                <ion-label>{{platoAlmuerzo.nombre}}</ion-label>
                <ion-label>${{platoAlmuerzo.precio}}</ion-label>
                <div class="textoscent">
                  
                  <ion-radio-group [(ngModel)]="plato_id" name="plato_id">
                    <ion-radio value="{{platoAlmuerzo.id}}"></ion-radio><br />
                  </ion-radio-group>
                  
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>  
    </ion-accordion>

    <!-- mostrar la seccion de cena -->
    <ion-accordion value="six">
      <ion-item slot="header" color="light">
        <ion-label>Cena</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let platoCena of platosCena">
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="../../assets/imgu/2.jpg" />
                </ion-thumbnail>
                <ion-label>{{platoCena.nombre}}</ion-label>
                <ion-label>${{platoCena.precio}}</ion-label>
                <div class="textoscent">
                  
                  <ion-radio-group [(ngModel)]="plato_id" name="plato_id">
                    <ion-radio value="{{platoCena.id}}"></ion-radio><br />
                  </ion-radio-group>

                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>  
    </ion-accordion>

  </ion-accordion-group>

  <div class="butoon">
    <ion-button (click)="enviarDatos()" id="open-toast" expand="block">Pagar</ion-button>
  <ion-toast trigger="open-toast" message="Pedido enviado!" [duration]="3000" icon="send-outline"></ion-toast>
  </div>
  
</ion-content>
