<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>
<br>


<ion-content [fullscreen]="true">
  <br>
  <ion-card >
    <img src="/assets/imgu/2.jpg">
    <ion-card-header>
      <ion-card-title>Mision</ion-card-title>

    </ion-card-header>
  
    <ion-card-content style="text-align: justify;">
      La Universidad Popular del Cesar, como
       institución de educación superior oficial del orden nacional, 
       forma personas responsables social y culturalmente; con una educación de calidad, i
       ntegral e inclusiva, rigor científico y tecnológico; mediante las diferentes modalidades 
       y metodologías de educación, a través de programas pertinentes al contexto, 
       dentro de la diversidad de campos disciplinares, en un marco de libertad 
       de pensamiento; que consolide la construcción de saberes, para contribuir a la solución de problemas 
      y conflictos, en un ambiente sostenible, con visibilidad nacional e internacional.
    </ion-card-content>
  </ion-card>
  <br>

  <ion-card>
    <img src="/assets/imgu/7.jpg">
    <ion-card-header>
      <ion-card-title>Vision</ion-card-title>
    </ion-card-header>
  
    <ion-card-content ion-card-content style="text-align: justify;">
      En el año 2025, la Universidad Popular del 
      Cesar será una Institución de Educación Superior de alta calidad, 
      incluyente y transformadora; comprometida en el desarrollo 
      sustentable de la Región, con visibilidad nacional y alcance internacional.
    </ion-card-content>
  </ion-card>



</ion-content>